@import '../../styles/_variables';
.cardboard {
    flex: 0 0 auto;
    width: 300px;
    height: 401px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    @include card;
    .cover {
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
    }
    .title {
        font-size: 16px;
        margin: 12px 0;
        text-decoration: none;
        color: $dark;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .price {
        font-size: 14px;
    }
    input {
        width: 100px;
    }
}