@import './_variables';
@import './typography';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
* {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* font: 112.5%/1.45em georgia, serif, sans-serif; */
    box-sizing: border-box;
    overflow-y: scroll;
    /* // */
    font: 112.5%/1.45em Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: normal;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 30px;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
    bottom: 0;
    padding: 10px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
    height: 30px;
    width: 30px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
    background-color: $dominant;
    // outline: 1px solid rgb(118, 121, 124);
}