@import './_variables';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
* {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* font: 112.5%/1.45em georgia, serif, sans-serif; */
    box-sizing: border-box;
    overflow-y: scroll;
    /* // */
    font: 112.5%/1.45em Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

main {
    // margin: 0 7vh;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 30px;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
    bottom: 0;
    padding: 10px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
    height: 30px;
    width: 30px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 100%;
}