@import './_variables';
.main {
    margin: $side-white-space/2 $side-white-space;
    h1 {
        text-align: center;
        margin-bottom: $side-white-space/2;
        span {
            color: $dominant
        }
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 24px 36px;
        justify-content: center;
    }
}