@import './_variables';
.content {
    margin: 14vh 100px;
    .title {
        text-align: center;
    }
    .actualization {
        text-align: center;
        color: $text-gray;
    }
    .text {
        h1,
        h2 {
            text-align: center;
        }
    }
}