@import '../../../styles/_variables';
.aboutSection {
    margin: 15vh 10vw;
    h2 {
        text-align: center;
    }
    .aboutContent {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
        p {
            font-weight: 500;
        }
        @media(max-width: $medium-screen-size) {
            & {
                grid-template-columns: 1fr;
            }
        }
    }
    .image {
        @include card;
    }
}