@import '../../styles/_variables';
.cardsRowDiv {
    margin: 14vh 0;
    .quote {
        margin: 0 $side-white-space;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        font-size: 18px;
        color: $dark;
        h2 {
            font-weight: 600;
        }
        a {
            text-decoration: none;
            color: $text-gray;
            font-weight: 400;
            // display: flex;
            align-self: center;
            // justify-self: center; 
            transition: 0.3s !important;
            &:hover {
                transform: scale(1.1);
            }
        }
        .categoryName {
            color: $dominant;
            font-weight: 800;
        }
    }
    .allBtn {
        display: flex;
        flex-direction: row;
        gap: 3px;
        svg {
            // background-color: red;
            path {
                stroke: $text-gray;
                stroke-width: 1;
            }
            height: 18px;
        }
    }
    .cardsDiv {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        scroll-snap-type: x proximity;
        &::-webkit-scrollbar {
            display: none;
        }
        .carousel {
            display: flex;
            width: max-content;
            padding: 3vh 7vh 7vh;
            flex-wrap: nowrap;
            flex-direction: row;
            gap: 7vh;
            &:before,
            &:after {
                content: ' ';
                width: 20px;
                // background-color: red;
            }
        }
    }
}