@import '../../../styles/_variables';
.reviewsContainer {
    margin: 24vh 7vw;
    h2 {
        color: $dominant;
        text-align: center;
    }
    .reviewsDiv {
        margin-top: 7vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
}