@import '../../../styles/_variables';
.reviewsContainer {
    margin: 24vh 7vw;
    h2 {
        color: $dominant;
        text-align: center;
    }
    .reviewsDiv {
        margin-top: 7vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
    }
    @media(max-width: 650px) {
        .reviewsDiv {
            grid-template-columns: 1fr;
        }
    }
    @media(max-width: 1056px) {
        .reviewsDiv {
            grid-template-columns: 2fr;
        }
    }
}