@import '../../../styles/_variables';
.cardsRowDiv {
    margin: 14vh 0;
    .quote {
        margin: 0 7vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        font-size: 18px;
        color: $dark;
        h2 {
            font-weight: 600;
        }
        .categoryName {
            color: $dominant;
            font-weight: 800;
        }
        a {
            text-decoration: none;
            color: $text-gray;
            font-weight: 400;
        }
    }
    .cardsDiv {
        padding: 7vh 7vh;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        flex-direction: row;
        // overflow-x: scroll;
        // overflow-y: hidden;
        gap: 4vh;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x proximity;
        &::-webkit-scrollbar {
            display: none;
        }
        &:before,
        &:after {
            content: '';
            width: 10px;
        }
    }
}