@import '../../styles/_variables';
header {
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: $dark;
    // width: calc(100% - ($side-white-space * 2));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px $side-white-space;
    .categoriesDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 30vw;
    }
    .logo {
        svg {
            height: 45px;
        }
    }
    .butterBtn {
        z-index: 130;
    }
    svg {
        height: 35px;
    }
}

.mobileNav,
.mobileCategoriesDiv {
    display: none;
}

.link {
    text-decoration: none;
    color: $text-white;
    font-size: 16px;
    align-self: center;
    justify-content: space-between;
}

@media(max-width: 650px) {
    header {
        .categoriesDiv {
            display: none;
        }
        .mobileNav {
            display: inline-flex;
            gap: 14px;
        }
        overflow-x: hidden;
    }
    .mobileCategoriesDiv {
        display: grid;
        right: -100vw;
        @include sideMenu;
        z-index: 120;
        a {
            // color: #000;
            font-size: 24px;
        }
    }
}

.openMenu {
    right: 0;
}