@import '../../styles/_variables';
.searchBlock {
    @include sideMenu;
    right: 0;
    input {
        margin: 25vh 0 5vh;
        border-radius: $border-radius;
        color: $dark;
        font-size: 14px;
        padding: 12px;
        width: 80%;
        max-width: 720px;
        &::placeholder {
            text-align: center;
            // font-weight: 600;
            font-size: 14px;
        }
    }
    left: -105vw;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    flex-wrap: nowrap;
    height: 90%;
    // overflow-y: visible;
    // position: fixed;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .notFoundText {
        color: $text-white;
        font-weight: 400;
    }
}

.searchItemResult {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
    justify-items: center;
    width: 80%;
    max-width: 720px;
    text-decoration: none;
    @include card;
    .itemCover {
        border-radius: $border-radius;
    }
    .itemTitle {
        justify-self: center;
        color: $dark;
        margin: auto;
    }
}

.openSearch {
    left: 0;
}

.SearchBtn {
    z-index: 110;
}