@import '../../styles/_variables';
.openBtn {
    position: relative;
}

.totalUnique {
    position: absolute;
    right: -10px;
    bottom: 0;
    background-color: #fff;
    color: $dark;
    padding: 1px 7px;
    width: 10px;
    height: 20px;
    // font-size: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid $dark;
    letter-spacing: 0px;
    clip-path: circle();
}

.cartItems {
    overflow-x: auto;
    height: 75vh;
    width: 110%;
}

.total {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // height: 30vh;
    margin: 0 15px;
    // background-color: red;
    p {
        margin-bottom: 14px;
    }
    .greySpan {
        color: $text-gray;
        font-weight: 400;
        font-size: 14px;
    }
    .toOrder {
        text-decoration: none;
        text-align: center;
        padding: 14px 7px;
        background-color: $dark;
        color: $text-white;
        border: none;
        font-size: 16px;
        font-weight: 600;
        transition: .3s;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.sideCart {
    height: 100vh;
    opacity: 0;
    transition: .3s;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100vw;
    display: grid;
    grid-template-columns: 1fr 450px;
    // background-color: red;
    z-index: 1000;
    .side {
        background-color: $opacity-bg-color;
    }
    .cart {
        background-color: #fff;
    }
    h5 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        padding-top: $side-white-space;
        span {
            // color: $text-gray;
        }
    }
}

.closeBtn {
    position: absolute;
    right: 14px;
    top: 14px;
    svg {
        // width: 20px;
        height: 24px;
        &>path {
            transition: .3s;
        }
    }
    &:hover {
        svg>path {
            fill: $text-gray
        }
    }
}

.openCart {
    opacity: 1;
    right: 0;
}