* {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* font: 112.5%/1.45em georgia, serif, sans-serif; */
    box-sizing: border-box;
    overflow-y: scroll;
    /* // */
    font: 112.5%/1.45em Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
}

main {
    // margin: 0 7vh;
}